In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
# Import data generated from main.ipynb
amazon_df = pd.read_csv("data/sent-amazon.csv")
apple_df = pd.read_csv("data/sent-apple.csv")
google_df = pd.read_csv("data/sent-google.csv")
microsoft_df = pd.read_csv("data/sent-microsoft.csv")
tesla_df = pd.read_csv("data/sent-tesla.csv")

In [32]:
"""
Vader Sentiment
Positive sentiment: > 0.05
Negative sentiment: < -0.05
Neutral sentiment: > 0.05 AND < -0.05 
"""
# Add Vader sentiment label (eg. positive, negative, or neutral)
def sent_label(row):
    if row["Sentiment"] > 0.05:
        return "Positive" 
    elif row["Sentiment"] < -0.05:
        return "Negative"
    else:
        return "Neutral"

amazon_df["sentiment_label"] = amazon_df.apply(sent_label, axis = 1)
apple_df["sentiment_label"] = apple_df.apply(sent_label, axis = 1)
google_df["sentiment_label"] = google_df.apply(sent_label, axis = 1)
microsoft_df["sentiment_label"] = microsoft_df.apply(sent_label, axis = 1)
tesla_df["sentiment_label"] = tesla_df.apply(sent_label, axis = 1)

In [33]:
# Function to convert datetime format to datetime64 (date only) and pivot table to counts

def date_and_sentiment(df, name):
    #convert date format from unicode to datetime64, dropping the time
    if pd.api.types.is_numeric_dtype(df["post_date"]):
        df['date'] = pd.to_datetime(df["post_date"], unit='s')
        df['date'] = df['date'].dt.floor('D')
    else:
        df['post_date'] = pd.to_numeric(df["post_date"], errors='coerce')
        df['date'] = pd.to_datetime(df["post_date"], unit='s', errors='coerce')
        df['date'] = df['date'].dt.floor('D')

    df = df.drop(columns=['tweet_id', 'writer', 'post_date','comment_num', 'retweet_num', 'like_num', 'Sentiment', 'sentiment_label'])
    
    df.to_csv("./data/"+ name.lower() + "_token.csv")


    return df

    #group and pivot to get the count values
    # group_df = df.groupby('date')['sentiment_label'].value_counts().reset_index(name='count')
    # pivot_df = group_df.pivot(index='date', columns='sentiment_label', values='count').fillna(0)
    # pivoted = pivot_df.astype(int).reset_index()
    # pivoted = pivoted.rename(columns={'date': 'Date'})
    # # group_df = df.groupby('date')['sentiment_label'].value_counts().reset_index(name='count')
    # # pivot_df = group_df.pivot(index='date', columns='sentiment_label', values='count').fillna(0)
    # # pivoted1 = pivot_df.astype(int)
    # # pivoted = pivoted1.reset_index()
    # # pivoted = pivoted.rename(columns={"date": 'Date'})
    # return pivoted

### Generate Preprocessed CSVs for Sentiment Counts
###### Note: The 'Negative' column values were updated to negative integers count for plotting purpose

In [34]:
# Amazon
#preprocessed apple csv output
name = "Amazon"
amazon_df = date_and_sentiment(amazon_df, name)
display(amazon_df.head(2))
display(amazon_df.columns)

# Apple 
name = "Apple"
apple_df = date_and_sentiment(apple_df, name)
display(apple_df.head(2))
display(apple_df.columns)

# Google
name = "Google"
google_df = date_and_sentiment(google_df, name)
display(google_df.head(2))
display(google_df.columns)

# Microsoft
name = "Microsoft"
microsoft_df = date_and_sentiment(microsoft_df, name)
display(microsoft_df.head(2))
display(microsoft_df.columns)

# Tesla
name = "Tesla"
tesla_df = date_and_sentiment(tesla_df, name)
display(tesla_df.head(2))
display(tesla_df.columns)

                                                body ticker_symbol       date
0  S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...          AMZN 2015-01-01
1  Top 10 searched #stocks of #2014 $AAPL $FB $BA...          AMZN 2015-01-01

Index(['body', 'ticker_symbol', 'date'], dtype='object')

                                                body ticker_symbol       date
0  lx21 made $10,008  on $AAPL -Check it out! htt...          AAPL 2015-01-01
1  Insanity of today weirdo massive selling. $aap...          AAPL 2015-01-01

Index(['body', 'ticker_symbol', 'date'], dtype='object')

                                                body ticker_symbol       date
0  Top 10 searched #stocks of #2014 $AAPL $FB $BA...          GOOG 2015-01-01
1  #GOOGLE 'C' : Chinese paper blames Google over...          GOOG 2015-01-01

Index(['body', 'ticker_symbol', 'date'], dtype='object')

                                                body ticker_symbol       date
0  $UNP $ORCL $QCOM $MSFT $AAPL Top scoring mega ...          MSFT 2015-01-01
1  http://StockAviator.com....Top penny stocks, N...          MSFT 2015-01-01

Index(['body', 'ticker_symbol', 'date'], dtype='object')

                                                body ticker_symbol       date
0  $GM $TSLA: Volkswagen Pushes 2014 Record Recal...          TSLA 2015-01-01
1  Swing Trading: Up To 8.91% Return In 14 Days h...          TSLA 2015-01-01

Index(['body', 'ticker_symbol', 'date'], dtype='object')