In [1]:
# Imports for loading environment variables.
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import os
import time

In [2]:
# Load environment variables.
load_dotenv()
# Store the API key in a variable.
MARKET_API = os.getenv("MARKET_API")

#dictionary to follow API documentation
params = {'access_key' : MARKET_API}

In [31]:
params

{'access_key': '3e2646af63ff16538936507aabc8f332'}

In [8]:
date_from = '2015-01-01'
date_to = '2019-12-31'
limit = 1000
offset = 0
results_list_aapl = []



url = "https://api.marketstack.com/v1/eod?symbols=AAPL"

while True:
    if offset == 2000:
        break
    query = f'{url}&access_key={MARKET_API}&date_from={date_from}&date_to={date_to}&offset={offset}&limit={limit}'
    print(query)
    results = requests.get(query).json()
    offset = offset+1000
    time.sleep(10)
    
    try:
        for doc in results["data"]:
            results_list_aapl.append({
                "symbol":doc["symbol"],
                "date":doc["date"],
                "open":doc["open"],
                "close":doc["close"],
                "volume":doc["volume"],
                "high":doc["high"],
                "low":doc["low"],
                "split":doc["split_factor"],
                "dividend":doc["dividend"]
            })
        print(f'{offset}')
        
    except:
        print("No records")
        False

https://api.marketstack.com/v1/eod?symbols=AAPL&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=0&limit=1000
1000
https://api.marketstack.com/v1/eod?symbols=AAPL&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=1000&limit=1000
2000
https://api.marketstack.com/v1/eod?symbols=AAPL&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=2000&limit=1000
3000
https://api.marketstack.com/v1/eod?symbols=AAPL&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=3000&limit=1000
4000
https://api.marketstack.com/v1/eod?symbols=AAPL&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=4000&limit=1000
5000
https://api.marketstack.com/v1/eod?symbols=AAPL&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=5000&limit=1000

KeyboardInterrupt:

In [9]:
results_apple_df = pd.DataFrame(results_list_aapl)

In [10]:
results_apple_df

,symbol,date,open,close,volume,high,low,split,dividend
0,AAPL,2019-12-31T00:00:00+0000,289.93,293.65,25247625.0,293.68,289.5200,1.0,0.0
1,AAPL,2019-12-30T00:00:00+0000,289.46,291.52,36059614.0,292.69,285.2200,1.0,0.0
2,AAPL,2019-12-27T00:00:00+0000,291.12,289.80,36592936.0,293.97,288.1200,1.0,0.0
3,AAPL,2019-12-26T00:00:00+0000,284.82,289.91,23334004.0,289.98,284.7000,1.0,0.0
4,AAPL,2019-12-24T00:00:00+0000,284.69,284.27,12119714.0,284.89,282.9197,1.0,0.0
...,...,...,...,...,...,...,...,...,...
1253,AAPL,2015-01-08T00:00:00+0000,109.23,111.89,59364547.0,112.15,108.7000,1.0,0.0
1254,AAPL,2015-01-07T00:00:00+0000,107.20,107.75,40105934.0,108.20,106.6950,1.0,0.0
1255,AAPL,2015-01-06T00:00:00+0000,106.54,106.26,65797116.0,107.43,104.6300,1.0,0.0
1256,AAPL,2015-01-05T00:00:00+0000,108.29,106.25,64285491.0,108.65,105.4100,1.0,0.0
1257,AAPL,2015-01-02T00:00:00+0000,111.39,109.33,53204626.0,111.44,107.3500,1.0,0.0

In [11]:
#Getting Data for Next Company GOOG

date_from = '2015-01-01'
date_to = '2019-12-31'
limit = 1000
offset = 0
#results_list_ = [] Commenting out list for other companies as we want to keep appending to original list.



url = "https://api.marketstack.com/v1/eod?symbols=GOOG"

while True:
    if offset == 2000:
        break
    query = f'{url}&access_key={MARKET_API}&date_from={date_from}&date_to={date_to}&offset={offset}&limit={limit}'
    print(query)
    results = requests.get(query).json()
    offset = offset+1000
    time.sleep(10)
    
    try:
        for doc in results["data"]:
            results_list_aapl.append({
                "symbol":doc["symbol"],
                "date":doc["date"],
                "open":doc["open"],
                "close":doc["close"],
                "volume":doc["volume"],
                "high":doc["high"],
                "low":doc["low"],
                "split":doc["split_factor"],
                "dividend":doc["dividend"]
            })
        print(f'{offset}')
        
    except:
        print("No records")
        False

https://api.marketstack.com/v1/eod?symbols=GOOG&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=0&limit=1000
1000
https://api.marketstack.com/v1/eod?symbols=GOOG&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=1000&limit=1000
2000

In [12]:
#Getting Data for Next Company GOOGL

date_from = '2015-01-01'
date_to = '2019-12-31'
limit = 1000
offset = 0
#results_list_ = [] Commenting out list for other companies as we want to keep appending to original list.



url = "https://api.marketstack.com/v1/eod?symbols=GOOGL"

while True:
    if offset == 2000:
        break
    query = f'{url}&access_key={MARKET_API}&date_from={date_from}&date_to={date_to}&offset={offset}&limit={limit}'
    print(query)
    results = requests.get(query).json()
    offset = offset+1000
    time.sleep(10)
    
    try:
        for doc in results["data"]:
            results_list_aapl.append({
                "symbol":doc["symbol"],
                "date":doc["date"],
                "open":doc["open"],
                "close":doc["close"],
                "volume":doc["volume"],
                "high":doc["high"],
                "low":doc["low"],
                "split":doc["split_factor"],
                "dividend":doc["dividend"]
            })
        print(f'{offset}')
        
    except:
        print("No records")
        False

https://api.marketstack.com/v1/eod?symbols=GOOGL&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=0&limit=1000
1000
https://api.marketstack.com/v1/eod?symbols=GOOGL&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=1000&limit=1000
2000

In [13]:
#Getting Data for Next Company TSLA

date_from = '2015-01-01'
date_to = '2019-12-31'
limit = 1000
offset = 0
#results_list_ = [] Commenting out list for other companies as we want to keep appending to original list.



url = "https://api.marketstack.com/v1/eod?symbols=TSLA"

while True:
    if offset == 2000:
        break
    query = f'{url}&access_key={MARKET_API}&date_from={date_from}&date_to={date_to}&offset={offset}&limit={limit}'
    print(query)
    results = requests.get(query).json()
    offset = offset+1000
    time.sleep(10)
    
    try:
        for doc in results["data"]:
            results_list_aapl.append({
                "symbol":doc["symbol"],
                "date":doc["date"],
                "open":doc["open"],
                "close":doc["close"],
                "volume":doc["volume"],
                "high":doc["high"],
                "low":doc["low"],
                "split":doc["split_factor"],
                "dividend":doc["dividend"]
            })
        print(f'{offset}')
        
    except:
        print("No records")
        False

https://api.marketstack.com/v1/eod?symbols=TSLA&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=0&limit=1000
1000
https://api.marketstack.com/v1/eod?symbols=TSLA&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=1000&limit=1000
2000

In [14]:
#Getting Data for Next Company MSFT

date_from = '2015-01-01'
date_to = '2019-12-31'
limit = 1000
offset = 0
#results_list_ = [] Commenting out list for other companies as we want to keep appending to original list.



url = "https://api.marketstack.com/v1/eod?symbols=MSFT"

while True:
    if offset == 2000:
        break
    query = f'{url}&access_key={MARKET_API}&date_from={date_from}&date_to={date_to}&offset={offset}&limit={limit}'
    print(query)
    results = requests.get(query).json()
    offset = offset+1000
    time.sleep(10)
    
    try:
        for doc in results["data"]:
            results_list_aapl.append({
                "symbol":doc["symbol"],
                "date":doc["date"],
                "open":doc["open"],
                "close":doc["close"],
                "volume":doc["volume"],
                "high":doc["high"],
                "low":doc["low"],
                "split":doc["split_factor"],
                "dividend":doc["dividend"]
            })
        print(f'{offset}')
        
    except:
        print("No records")
        False

https://api.marketstack.com/v1/eod?symbols=MSFT&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=0&limit=1000
1000
https://api.marketstack.com/v1/eod?symbols=MSFT&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=1000&limit=1000
2000

In [15]:
#Getting Data for Next Company AMZN

date_from = '2015-01-01'
date_to = '2019-12-31'
limit = 1000
offset = 0
#results_list_ = [] Commenting out list for other companies as we want to keep appending to original list.



url = "https://api.marketstack.com/v1/eod?symbols=AMZN"

while True:
    if offset == 2000:
        break
    query = f'{url}&access_key={MARKET_API}&date_from={date_from}&date_to={date_to}&offset={offset}&limit={limit}'
    print(query)
    results = requests.get(query).json()
    offset = offset+1000
    time.sleep(10)
    
    try:
        for doc in results["data"]:
            results_list_aapl.append({
                "symbol":doc["symbol"],
                "date":doc["date"],
                "open":doc["open"],
                "close":doc["close"],
                "volume":doc["volume"],
                "high":doc["high"],
                "low":doc["low"],
                "split":doc["split_factor"],
                "dividend":doc["dividend"]
            })
        print(f'{offset}')
        
    except:
        print("No records")
        False

https://api.marketstack.com/v1/eod?symbols=AMZN&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=0&limit=1000
1000
https://api.marketstack.com/v1/eod?symbols=AMZN&access_key=3e2646af63ff16538936507aabc8f332&date_from=2015-01-01&date_to=2019-12-31&offset=1000&limit=1000
2000

In [16]:
stock_data_df = pd.DataFrame(results_list_aapl)

In [17]:
stock_data_df

,symbol,date,open,close,volume,high,low,split,dividend
0,AAPL,2019-12-31T00:00:00+0000,289.93,293.65,25247625.0,293.68,289.5200,1.0,0.0
1,AAPL,2019-12-30T00:00:00+0000,289.46,291.52,36059614.0,292.69,285.2200,1.0,0.0
2,AAPL,2019-12-27T00:00:00+0000,291.12,289.80,36592936.0,293.97,288.1200,1.0,0.0
3,AAPL,2019-12-26T00:00:00+0000,284.82,289.91,23334004.0,289.98,284.7000,1.0,0.0
4,AAPL,2019-12-24T00:00:00+0000,284.69,284.27,12119714.0,284.89,282.9197,1.0,0.0
...,...,...,...,...,...,...,...,...,...
7543,AMZN,2015-01-08T00:00:00+0000,300.32,300.46,3088398.0,303.14,296.1100,1.0,0.0
7544,AMZN,2015-01-07T00:00:00+0000,297.50,298.42,2640349.0,301.28,295.3300,1.0,0.0
7545,AMZN,2015-01-06T00:00:00+0000,302.24,295.29,3519034.0,303.00,292.3800,1.0,0.0
7546,AMZN,2015-01-05T00:00:00+0000,307.01,302.19,2774231.0,308.38,300.8500,1.0,0.0
7547,AMZN,2015-01-02T00:00:00+0000,312.58,308.52,2788101.0,314.75,306.9601,1.0,0.0

In [18]:
stock_data_df.to_csv('stock_data.csv', index='False')