In [59]:
import pandas as pd
import numpy as np

# Import the dependencies
import pandas as pd
import nltk
from nltk.corpus import stopwords
#nltk.download('punkt')
# Initialize the stopwords
stop_words = set(stopwords.words('english'))

In [60]:
tweets_amazon = pd.read_csv("data/amazon_token.csv")
display(tweets_amazon.info())

tweets_tesla = pd.read_csv("data/tesla_token.csv")
display(tweets_tesla.info())

tweets_microsoft = pd.read_csv("data/microsoft_token.csv")
display(tweets_microsoft.info())

tweets_google = pd.read_csv("data/google_token.csv")
display(tweets_google.info())

tweets_apple = pd.read_csv("data/apple_token.csv")
display(tweets_apple.info())

# tweets_amazon
# tweets_tesla
# tweets_microsoft
# tweets_google
# tweets_apple

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718715 entries, 0 to 718714
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          718715 non-null  int64
 1   body           718715 non-null  object
 2   ticker_symbol  718715 non-null  object
 3   date           718715 non-null  object
dtypes: int64(1), object(3)
memory usage: 21.9+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096868 entries, 0 to 1096867
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Unnamed: 0     1096868 non-null  int64
 1   body           1096868 non-null  object
 2   ticker_symbol  1096868 non-null  object
 3   date           1096868 non-null  object
dtypes: int64(1), object(3)
memory usage: 33.5+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375711 entries, 0 to 375710
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     375711 non-null  int64
 1   body           375711 non-null  object
 2   ticker_symbol  375711 non-null  object
 3   date           375711 non-null  object
dtypes: int64(1), object(3)
memory usage: 11.5+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720138 entries, 0 to 720137
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     720138 non-null  int64
 1   body           720138 non-null  object
 2   ticker_symbol  720138 non-null  object
 3   date           720138 non-null  object
dtypes: int64(1), object(3)
memory usage: 22.0+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1425013 entries, 0 to 1425012
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Unnamed: 0     1425013 non-null  int64
 1   body           1425013 non-null  object
 2   ticker_symbol  1425013 non-null  object
 3   date           1425013 non-null  object
dtypes: int64(1), object(3)
memory usage: 43.5+ MB

None

In [61]:
# truncate to specific dates
# date range 01-01-2015 through 2019-12-31


initial_date = "2019-01-01"
end_date = "2019-12-31"

def date_span(df):

    filtered = df[(df['date'] >= initial_date) & (df['date'] <= end_date)]

    return (filtered)

In [62]:
tweets_df = date_span(tweets_amazon)
# tweets_df = date_span(tweets_tesla)
# tweets_df = date_span(tweets_microsoft)
# tweets_df = date_span(tweets_google)
# tweets_df = date_span(tweets_apple)

tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 143439 entries, 575276 to 718714
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   index          143439 non-null  int64
 1   body           143439 non-null  object
 2   ticker_symbol  143439 non-null  object
 3   date           143439 non-null  object
dtypes: int64(1), object(3)
memory usage: 5.5+ MB

In [63]:
tweets_list = tweets_df["body"].to_list()
# tweets_list[0:3]

In [64]:
# create list of words

words = []
words_lists = [sentences.split() for sentences in tweets_list]

for words_list in words_lists:
    for word in words_list:
        words.append(word)


# print(words_lists[0])
# words[0:10]

In [65]:
# separate hashtags from content
tweet_tags = []
tweet_content = []

for word_string in words:
    if word_string.startswith("#") is True:
        tweet_tags.append(word_string)
    else:
        tweet_content.append(word_string)
        

# print(tweet_tags[0:10])
# print(tweet_content[0:10])

In [66]:
# tokenize the lists 
#Import regex
import re
# Create a regex pattern to remove punctuation. 

def tokenizing (tweet_list):

    pattern = r'[^a-zA-Z\s ]'

    # Create an empty list to hold the tokens.
    tag_tokens = []
    for tweet_word in tweet_list:
        #tokens = re.findall(pattern, tweet_word)
        tokens = re.sub(pattern, '', tweet_word)
        tag_tokens.append(tokens)

    return tag_tokens

tokenized_hashtags = tokenizing(tweet_tags)
tokenized_content = tokenizing(tweet_content)

# print("Tokenized hashtags:", tokenized_hashtags[0:15])
# print("Tokenized content:", tokenized_content[0:3])

In [67]:
#Remove stopwords 

def remove_stopwords(tweets_list):
    filtered_tokens = []
        #for tweets in tweets_list:
    filtered_token = [word for word in tweets_list if not word in stop_words]
    # filtered_token = [word for word in tweets_list if word.lower() not in stop_words]
        
    filtered_tokens.append(filtered_token)
        
    # Display the filtered_tokens
    return filtered_tokens

filtered_hashtags = remove_stopwords(tokenized_hashtags)
filtered_content = remove_stopwords(tokenized_content)

# print("Tokenized hashtags:", filtered_hashtags[0:6])
# print("Tokenized content:", filtered_content[0:6])

In [68]:
# modified from the class activity for Create the bag-of-words
def bag_words(filtered_list):
    bag_of_words = {}
    for i in range(len(filtered_list)):
        for word in filtered_list[i]:
            if word not in bag_of_words:
                bag_of_words[word] = 0
            bag_of_words[word] += 1

    # Print the bag_of_words
    return bag_of_words

word_count_hashtags = bag_words(filtered_hashtags)
word_count_content = bag_words(filtered_content)

# print(word_count_hashtags)
# word_count_content

In [69]:
hashtag_keys = list(word_count_hashtags.keys())
hashtag_values = list(word_count_hashtags.values())


content_keys = list(word_count_content.keys())
content_values = list(word_count_content.values())
dates = initial_date + " to " + end_date

In [70]:
hashtags_df = pd.DataFrame({"Hashtag (#)":hashtag_keys, "Count":hashtag_values})
content_df = pd.DataFrame({"Tweet":content_keys, "Count":content_values})

In [71]:
resorted_hashtags = hashtags_df.sort_values(by=["Count"], ascending = False)
resorted_content = content_df.sort_values(by=["Count"], ascending = False)

In [72]:
resorted_hashtags.reset_index(drop=True, inplace=True)
resorted_hashtags.index += 1

resorted_content.reset_index(drop=True, inplace=True)
resorted_content.index += 1

In [73]:
ticker = tweets_df["ticker_symbol"].iloc[0]
company = "company"

if ticker == "AMZN":
    company = "Amazon"
elif ticker == "AAPL":
    company = "Apple"
elif ticker == "MSFT":
    company = "Microsoft"
elif ticker == "GOOG":
    ticker = "GOOG/GOOGL"
    company = "Google"
else:
    company = "Tesla"


print("Company:" + ' ' + company)
print("Ticker:" + ticker)
print("Dates:" + ' ' + initial_date + " to " + end_date)
display(resorted_hashtags.head(10))

resorted_hashtags.to_csv("data/" + ticker + "_hashtag_counts.csv")

Company: Amazon
Ticker:AMZN
Dates: 2019-01-01 to 2019-12-31

    Hashtag (#)  Count
1        stocks   7831
2     investing   5253
3   stockmarket   5124
4       finance   4073
5          gold   3491
6        silver   3093
7        Amazon   2856
8       options   2479
9   commodities   2449
10      trading   2331

In [74]:
print("Company:" + ' ' + company)
print("Ticker:" + ticker)
print("Dates:" + ' ' + initial_date + " to " + end_date)
display(resorted_content.head(10))

resorted_hashtags.to_csv("data/" + ticker + "_tweets_counts" + initial_date + "_" + end_date + ".csv")

Company: Amazon
Ticker:AMZN
Dates: 2019-01-01 to 2019-12-31

     Tweet   Count
1           147611
2     AMZN  122108
3     AAPL   33860
4       FB   29165
5     NFLX   23873
6     TSLA   21881
7      SPY   19802
8    GOOGL   17825
9     amzn   17771
10  Amazon   16917

In [76]:
print(pd.__version__)

2.0.3

## Class Activity Examples

In [77]:
# # Original from class 21 activity 1 BoW_model_solution
# # Import regex
# import re
# # Create a regex pattern to remove punctuation. 
# pattern = r'[^a-zA-Z\s ]'

# # Create an empty list to hold the tokens.
# tokens = []

# # Remove punctuation, tokenize sentence 1, and add the tokens to the tokens list.
# sentence_1_cleaned = re.sub(pattern, '', sentence_1)
# sentence_1_tokens = nltk.word_tokenize(sentence_1_cleaned.lower())
# tokens.append(sentence_1_tokens)

# # Remove punctuation, tokenize sentence 2, and add the tokens to the tokens list.
# sentence_2_cleaned = re.sub(pattern, '', sentence_2)
# sentence_2_tokens = nltk.word_tokenize(sentence_2_cleaned.lower())
# tokens.append(sentence_2_tokens)

# # Remove punctuation, tokenize sentence 3, and add the tokens to the tokens list.
# sentence_3_cleaned = re.sub(pattern, '', sentence_3)
# sentence_3_tokens = nltk.word_tokenize(sentence_3_cleaned.lower())
# tokens.append(sentence_3_tokens)

# # Display the tokens.
# tokens

In [78]:
# # Remove stopwords
# filtered_tokens = []
# for token in tokens:
#     filtered_token = [word for word in token if not word in stop_words]
#     filtered_tokens.append(filtered_token)
    
# # Diplay the filtered_tokens
# filtered_tokens

In [79]:
# # Create the bag-of-words
# bag_of_words = {}
# for i in range(len(filtered_tokens)):
#     for word in filtered_tokens[i]:
#         if word not in bag_of_words:
#             bag_of_words[word] = 0
#         bag_of_words[word] += 1

# # Print the bag_of_words
# print(bag_of_words)